<mat-toolbar color="primary">
  <div class="start">
    <h2><span class="material-icons material-icons-outlined">view_kanban</span>Kanban Firebase Board</h2>
    <a href="#">Dashboard</a>
  </div>
  <div class="spacer"></div>
  <div class="version">
    v{{ version }}
  </div>
  <div class="light-switch">
    <button mat-icon-button (click)="switchTheme()" [matTooltip]="isDark ? 'Switch to light mode' : 'Switch to dark mode'">
      <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
